<div class="background-wrap">
  <div class="background"></div>
</div>

<form id="accesspanel" (ngSubmit)="signin()" [formGroup]="credentials" method="post">
  <h1 id="litheader">Iusj-mobility</h1>
  <div class="inset">
    <p>
      <input type="text" name="username" id="email" placeholder="Nom d'utilisateur" formControlName="login">
    </p>
    <p>
      <input type="password" name="password" id="password" placeholder="Mot de passe" formControlName="password">
    </p>
    <div style="text-align: center;">
      <div class="checkboxouter">
        <input type="checkbox" name="rememberme" id="remember" value="Remember">
        <label class="checkbox"></label>
      </div>
      <label for="remember">Remember me</label>
    </div>
    <input class="loginLoginValue" type="hidden" name="service" value="login" />
  </div>
  <p class="p-container">
    <a [routerLink]="['/register']"> Pas encore inscrit? S'inscrire</a>
  </p>
  <p class="p-container">
    <input type="submit" name="Login" id="go" value="Se connecter">
  </p>
</form>