.form{
  background: #bdc3c7; 
  background: -webkit-linear-gradient(to right, #2c3e50, #373B44);
  background: linear-gradient(to right, #2c3e50, #373B44); 
  margin-left: 32%;
  width: 36%;
  text-align: center;
  padding-bottom: 20px;
  color: whitesmoke;
}

h1, h2, mat-label, mat-select{
  color: whitesmoke;
}

.separator{
  width: 50px;
}

mat-form-field{
  width: 60%;
}

.flex-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.flex-container > button{
  width: 30%;
}