<!-- <div class="background-wrap">
  <div class="background"></div>
</div> -->
<div class="container">
  <div class="form">
    <form id="accesspanel" [formGroup]="signUpForm" (ngSubmit)="signUp()" >
      <h1 id="litheader">Iusj-mobility</h1>
      <h2>Entrez les informations suivantes pour creer votre compte</h2>
      <div class="inset">
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Nom</mat-label>
            <input matInput id="nom"  type="text" name="name" placeholder="nom" formControlName="name">
            <ng-container *ngIf="(name?.dirty || name?.touched) && name?.errors">
              <mat-error class="nom ion-padding" *ngIf="name?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
            </ng-container>
          </mat-form-field>   
        </div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Prenom</mat-label>
            <input matInput id="prénom" type="text" name="firstName" placeholder="prénom" formControlName="firstName">
            <ng-container *ngIf="(firstName?.dirty || firstName?.touched) && firstName?.errors">
              <mat-error class="prenom ion-padding" *ngIf="firstName?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Sexe</mat-label>
            <mat-select formControlName="sexe">
              <mat-option>None</mat-option>
              <mat-option value="h">Homme</mat-option>
              <mat-option value="f">Femme</mat-option>
            </mat-select>  
            <ng-container *ngIf="(sexe?.dirty || sexe?.touched) && sexe?.errors">
              <mat-error class="sexe ion-padding" *ngIf="sexe?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Date de naissance</mat-label>
            <input matInput id="dateNa" type="date" name="dateN" id="dateN" formControlName="dateN">
            <ng-container *ngIf="(dateN?.dirty || dateN?.touched) && dateN?.errors">
              <mat-error class="dateN ion-padding" *ngIf="dateN?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Address Mail</mat-label>
            <input matInput id="email" type="text" name="email" placeholder="e-mail" formControlName="email">
            <ng-container *ngIf="(email?.dirty || email?.touched) && email?.errors">
              <mat-error class="email ion-padding" *ngIf="email?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
              <span *ngIf="email?.errors?.['pattern']">Entrer un email valide </span>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Téléphone</mat-label>
            <input matInput id="email" type="tel" name="tel" placeholder="Numéro de téléphone" formControlName="telephone">
            <ng-container *ngIf="(telephone?.dirty || telephone?.touched) && telephone?.errors">
              <mat-error class="ion-padding" *ngIf="telephone?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
              <span *ngIf="telephone?.errors?.['pattern']">Entrer un numéro de téléphone valide </span>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Pseudo d'utilisateur</mat-label>
            <input matInput  id="userName" type="text" name="login" placeholder="nom d'utilisateur" formControlName="login">
            <ng-container *ngIf="(login?.dirty || login?.touched) && login?.errors">
              <mat-error class="userName ion-padding" *ngIf="login?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
            </ng-container>
          </mat-form-field>
          
        </div>
        <div>
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput id="password" type="password" name="password" placeholder="Mot de passe" formControlName="password">
            <ng-container *ngIf="(password?.dirty || password?.touched) && password?.errors">
              <mat-error class="password ion-padding" *ngIf="password?.errors?.['required']">
                Ce champ est un champ obligatoire.
              </mat-error>
            </ng-container>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Confirmer Mot de passe</mat-label>
            <input matInput id="passwordCnfrm" type="password" name="confirm password" placeholder="confirmer Mot de passe">  
          </mat-form-field>
        </div>
        <br/>
        <div class="flex-container">
          <div>
            <button type="submit" mat-raised-button color="primary">S'inscrire </button>
          </div>
          <div>
            <button [routerLink]="['/login']" mat-stroked-button color="accent"> Se Connecter </button>
          </div>
        </div>  
      </div>
    </form>
  </div>  
</div>
