<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened fixedInViewport="false">
        <h2> Option de filtre </h2>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Par date</mat-label>
                <mat-select [(value)]="bookSort.orderDate">
                    <mat-option> Tous </mat-option>
                    <mat-option [value]="orderDate.increasing"> Du plus récent au moins récent </mat-option>
                    <mat-option [value]="orderDate.decreasing"> Du moins récent au plus récent </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="outline">
                <mat-label>Par statut de la réservation</mat-label>
                <mat-select [(value)]="bookSort.status">
                    <mat-option> Tous </mat-option>
                    <mat-option [value]="statutBook.accept"> {{stringifyStatutBook(statutBook.accept)}} </mat-option>
                    <mat-option [value]="statutBook.wait"> {{stringifyStatutBook(statutBook.wait)}} </mat-option>
                    <mat-option [value]="statutBook.reject"> {{stringifyStatutBook(statutBook.reject)}} </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="flex-container">
            <div class="flex-item" *ngFor="let book of booksList">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title> Réservation </mat-card-title>
                        <img mat-card-avatar/>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Réservation faite par {{book.login}}</p>
                        <p *ngIf="book.quantite > 0"> Places Réservé: {{book.quantite}}</p>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions *ngIf="book.statut == statutBook.wait">
                        <button mat-stroked-button color="primary" (click)="confirmBook(book.code, statutBook.accept)"> Accepter </button>
                        <button mat-stroked-button color="warn" (click)="confirmBook(book.code, statutBook.reject)"> Refuser </button>
                    </mat-card-actions>
                    <mat-card-actions *ngIf="book.statut == statutBook.accept" class="response">
                        <button mat-stroked-button color="primary" disabled> Réservation acceptée </button>
                    </mat-card-actions>
                    <mat-card-actions *ngIf="book.statut == statutBook.reject" class="response">
                        <button mat-stroked-button color="warn"> Réservation Rejetée </button>
                    </mat-card-actions>                    
                </mat-card>        
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Contacts de l'utilisateur 
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>Téléphone: {{book.telephone}}</p>
                      <p>Email: {{book.email}}</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div *ngIf="booksList.length == 0">
            <p>
                Vous n'avez encore aucune réservation pour cette offre
            </p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
