<div>
  <h1 id="example-radio-group-label">Choisisez votre option:</h1>

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="services"
  >
    <label>Achats</label>
    <mat-radio-button
      class="example-radio-button"
      [value]="achat"
      (change)="disableOthers('achat')"
    >
    </mat-radio-button>
    <label>Covoiturage</label>
    <mat-radio-button
      class="example-radio-button"
      [value]="covoiturage"
      (change)="disableOthers('covoiturage')"
    >
    </mat-radio-button>
    <label>Transport</label>
    <mat-radio-button
      class="example-radio-button"
      [value]="transport"
      (change)="disableOthers('transport')"
    >
    </mat-radio-button>
  </mat-radio-group>
  <br /><br />
  <div style="background-color: grey; border-radius: 30px">
    <div class="container" *ngIf="achat">
      <h2 style="margin-bottom: -30px; color: black">
        Decrivez le service d'achat de produit dont vous avez besoin.
      </h2>
      <div class="col-md-5">
        <div class="form-area">
          <form
            role="form"
            [formGroup]="purchaseForm"
            (ngSubmit)="savePurchaseOffer() "
            novalidate
          >
            <br style="clear: both" />
            <h3 style="margin-bottom: 25px; text-align: center"></h3>
            <div class="form-group" style="margin-bottom: 12px">
              <select
                class="form-control"
                id="choixCategories"
                formControlName="choixCategoriesAchat"
                style="border-radius: 30px"
                required
              >
                <option value=""><b>Choix Categories :</b></option>
                <option
                  *ngFor="let p of choixSelectCatego"
                  [value]="p"
                >
                  Produit type {{ p }}
                </option>
              </select>
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Produit"
                id="produit"
                formControlName="produitAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Lieu d'Achat"
                id="lieuAchat"
                formControlName="lieuAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            
            
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="number"
                class="form-control"
                placeholder="Prix du produit"
                id="prixProduit"
                formControlName="prixProduitAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="number"
                class="form-control"
                placeholder="Quantité du produit"
                id="quantiteProduit"
                formControlName="quantiteProduitAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Lieu de Livraison"
                formControlName="lieuArriveeAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="date"
                class="form-control"
                placeholder="Date de Livraison"
                formControlName="dateArriveeAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="time"
                class="form-control"
                placeholder="Horaire Livraison"
                formControlName="horaireArriveeAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="number"
                class="form-control"
                placeholder="Commission du service"
                formControlName="prixServiceAchat"
                style="border-radius: 30px"
                required
              />
            </div>
            <button
              type="submit"
              id="submit"
              class="btn btn-primary pull-right"
              style="
                margin-bottom: 12px;
                border-radius: 45px 0px 45px 0px;
              "
            >
            Publier demande
            </button>
            <br /><br /><br /><br />
          </form>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="covoiturage">
      <h2 style="margin-bottom: -30px; color: black">
        Decrivez le service de covoiturage que vous proposez.
      </h2>
      <div>
        <div class="form-area">
          <form
            role="form"
            [formGroup]="poolingForm"
            (ngSubmit)="savePoolingOffer()"
            novalidate
          >
            <br style="clear: both" />
            <h3 style="margin-bottom: 25px; text-align: center"></h3>
            <div class="form-group" style="margin-bottom: 12px">
              <!-- <label>Type Publication</label><br> -->
              <select
                class="form-control"
                formControlName="typeCovoiturage"
                id="typeCovoiturage"
                style="border-radius: 30px; display: block"
              >
                <option value=""><b>Type de Covoiturage :</b></option>
                <option *ngFor="let p of choixSelectCov" [value]="p">
                  {{ p }}
                </option>
              </select>
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="number"
                class="form-control"
                placeholder="Prix d'une place"
                id="prixPlace"
                formControlName="prixPlace"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="number"
                class="form-control"
                placeholder="Nombre de places disponibles"
                formControlName="placesDispo"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="flech form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Lieu de Depart"
                id="lieuDepart"
                formControlName="lieuDepartCovoiturage"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="date"
                class="form-control"
                placeholder="Date de Depart"
                id="dateDepart"
                formControlName="dateDepartCovoiturage"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="time"
                class="form-control"
                placeholder="horaire de Depart"
                id="horaireDepart"
                formControlName="horaireDepartCovoiturage"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Lieu d'Arrivée"
                formControlName="lieuArriveeCovoiturage"
                style="border-radius: 30px"
                required
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary pull-right"
              style="
                margin-bottom: 12px;
                border-radius: 45px 0px 45px 0px;
              "
            >
              Publier offre
            </button>
            <br /><br /><br /><br />
          </form>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="transport">
      <h2 style="margin-bottom: -30px; color: black">
        Decrivez le service de transport de produit dont vous avez
        besoin.
      </h2>
      <div>
        <div class="form-area">
          <form
            role="form"
            [formGroup]="transportForm"
            (ngSubmit)="saveTransportOffer()"
          >
            <br style="clear: both" />
            <h3 style="margin-bottom: 25px; text-align: center"></h3>
            <div class="form-group" style="margin-bottom: 12px">
              <select
                class="form-control"
                id="choixCategories"
                formControlName="choixCategoriesTransport"
                style="border-radius: 30px"
                required
              >
                <option value=""><b>Choix Categories :</b></option>
                <option
                  *ngFor="let p of choixSelectCatego"
                  [value]="p"
                >
                  Produit type {{ p }}
                </option>
              </select>
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Produit"
                id="produit"
                formControlName="produitTransport"
                style="border-radius: 30px"
                required
              />
            </div>
            
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="number"
                class="form-control"
                placeholder="Quantité du produit"
                id="quantiteProduit"
                formControlName="quantiteProduitTransport"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Point de ramassage"
                id="produit"
                formControlName="pointRamassage"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="text"
                class="form-control"
                placeholder="Lieu de Livraison"
                id="lieuDepart"
                formControlName="lieuArriveeTransport"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="date"
                class="form-control"
                placeholder="Date de Depart"
                id="dateDepart"
                formControlName="dateArriveeTransport"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="time"
                class="form-control"
                placeholder="horaire de Depart"
                id="horaireDepart"
                formControlName="horaireArriveeTransport"
                style="border-radius: 30px"
                required
              />
            </div>
            <div class="form-group" style="margin-bottom: 12px">
              <input
                type="number"
                class="form-control"
                placeholder="commission du service"
                id="quantiteProduit"
                formControlName="prixServiceTransport"
                style="border-radius: 30px"
                required
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary pull-right"
              style="
                margin-bottom: 12px;
                border-radius: 45px 0px 45px 0px;
              "
            >
              Publier demande
            </button>
            <br /><br /><br /><br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="lf">
      Copyright &copy; <a href="#">ISJ Mobility</a>. All Rights Reserved
    </p>
    <p class="rf">
      Design by
      <a>B&J&K</a>
    </p>
    <div class="clr"></div>
  </div>
</div>
