.pp{
    background-image: url('../../../assets/images/co.jpg');
    height: 500px;
    background-position: center top;
    background-size: cover;
}
.pp h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    top: 70%;
    position: absolute;
}