    <div >
      <div >
        <div >
          <div class="clr"></div>
          <br>    
        </div>
        <div class="content">
          <div class="content_bg">
            <div class="mainbar">
              <div class="article">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore cumque natus nesciunt! Facere, nostrum molestias eos cumque quidem eius veniam mollitia asperiores libero laboriosam nihil tempora. Tempore beatae natus facilis!
                </p>
                <p class="spec">
                  <!-- <a href="#" class="com fr">Comments (3)</a> -->
                  <a href="#" class="rm fl">+ Nouvelle Publication</a>
                </p>
                <div class="clr"></div>
              </div>
              <div>___________________________________________File d'actualite_____________________________________</div>
              <div class="article">
                <h2><span>Publication</span> 1</h2>
                <div class="clr"></div>
                <p class="post-data">
                  <span class="date">March 15, 2010</span> &nbsp;|&nbsp; poste
                  de <a href="#">Owner</a> &nbsp;|&nbsp; a
                  00H00>, <a href="#">Gagnant Eyang</a>
                </p>
                <!-- <img src="assets/images/images_2.jpg" width="613" height="193" alt="" /> -->
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Donec libero. Suspendisse bibendum. Cras id urna.
                  <a href="#"
                    >Morbi tincidunt, orci ac convallis aliquam, lectus turpis
                    varius lorem, eu posuere nunc justo tempus leo.</a
                  >
                  Donec mattis, purus nec placerat bibendum, dui pede
                  condimentum odio, ac blandit ante orci ut diam. Cras fringilla
                  magna. Phasellus suscipit, leo a pharetra condimentum, lorem
                </p>
                <!-- <p>Aenean commodo elit ac ante dignissim iaculis sit amet non velit. Donec magna sapien, molestie sit amet faucibus sit amet, fringilla in urna. Aliquam erat volutpat. Fusce a dui est. Sed in volutpat elit. Nam odio tortor, pulvinar non scelerisque in, eleifend nec nunc. Sed pretium, massa sed dictum dapibus, nibh purus posuere magna, ac porta felis lectus ut neque. Nullam sagittis ante vitae velit facilisis lacinia. Cras vehicula lacinia ornare. Duis et cursus risus. Curabitur consectetur justo sit amet odio viverra vel iaculis odio gravida. Ut imperdiet metus nec erat.</p> -->
                <p class="spec">
                  <a href="#" class="com fr">Comments (7)</a>
                  <a href="#" class="rm fl">Read more</a>
                </p>
                <div class="clr"></div>
              </div>
              <div class="article">
                <h2><span>Publication</span> 2</h2>
                <div class="clr"></div>
                <p class="post-data">
                  <span class="date">March 16, 2010</span> &nbsp;|&nbsp; poste
                  de <a href="#">Owner</a> &nbsp;|&nbsp; a
                  01H10>, <a href="#">Quittant Eyang</a>
                </p>
                <!-- <img src="assets/images/images_2.jpg" width="613" height="193" alt="" /> -->
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Donec libero. Suspendisse bibendum. Cras id urna.
                  <a href="#"
                    >Morbi tincidunt, orci ac convallis aliquam, lectus turpis
                    varius lorem, eu posuere nunc justo tempus leo.</a
                  >
                  Donec mattis, purus nec placerat bibendum, dui pede

                </p>
                <!-- <p>Aenean commodo elit ac ante dignissim iaculis sit amet non velit. Donec magna sapien, molestie sit amet faucibus sit amet, fringilla in urna. Aliquam erat volutpat. Fusce a dui est. Sed in volutpat elit. Nam odio tortor, pulvinar non scelerisque in, eleifend nec nunc. Sed pretium, massa sed dictum dapibus, nibh purus posuere magna, ac porta felis lectus ut neque. Nullam sagittis ante vitae velit facilisis lacinia. Cras vehicula lacinia ornare. Duis et cursus risus. Curabitur consectetur justo sit amet odio viverra vel iaculis odio gravida. Ut imperdiet metus nec erat.</p> -->
                <p class="spec">
                  <a href="#" class="com fr">Comments (7)</a>
                  <a href="#" class="rm fl">Read more</a>
                </p>
                <div class="clr"></div>
              </div>
              <div class="article">
                <h2><span>Publication</span> 3</h2>
                <div class="clr"></div>
                <p class="post-data">
                  <span class="date">March 18, 2010</span> &nbsp;|&nbsp; poste
                  de <a href="#">Owner</a> &nbsp;|&nbsp; a
                  00H00>, <a href="#">Gagnant Eyang</a>
                </p>
                <!-- <img src="assets/images/images_2.jpg" width="613" height="193" alt="" /> -->
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Donec libero. Suspendisse bibendum. Cras id urna.
                  <a href="#"
                    >Morbi tincidunt, orci ac convallis aliquam, lectus turpis
                    varius lorem, eu posuere nunc justo tempus leo.</a
                  >
                  Donec mattis, purus nec placerat bibendum, dui pede
                  condimentum odio, ac blandit ante orci ut diam. Cras fringilla
                  magna. Phasellus suscipit, leo a pharetra condimentum, lorem
                </p>
                <!-- <p>Aenean commodo elit ac ante dignissim iaculis sit amet non velit. Donec magna sapien, molestie sit amet faucibus sit amet, fringilla in urna. Aliquam erat volutpat. Fusce a dui est. Sed in volutpat elit. Nam odio tortor, pulvinar non scelerisque in, eleifend nec nunc. Sed pretium, massa sed dictum dapibus, nibh purus posuere magna, ac porta felis lectus ut neque. Nullam sagittis ante vitae velit facilisis lacinia. Cras vehicula lacinia ornare. Duis et cursus risus. Curabitur consectetur justo sit amet odio viverra vel iaculis odio gravida. Ut imperdiet metus nec erat.</p> -->
                <p class="spec">
                  <a href="#" class="com fr">Comments (7)</a>
                  <a href="#" class="rm fl">Read more</a>
                </p>
                <div class="clr"></div>
              </div>
              <div class="pagenavi">
                <span class="pages">Page 1 of 2</span
                ><span class="current">1</span><a href="#">2</a
                ><a href="#">&raquo;</a>
              </div>
            </div>
            <div class="sidebar">
              <div class="gadget">
                <h2 class="star"><span>Sidebar</span> Menu</h2>
                <div class="clr"></div>
                <ul class="sb_menu">
                  <li class="active"><a href="#">Acceuil</a></li>
                  <li><a href="#">TemplateInfo</a></li>
                  <li><a href="#">Style Demo</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Archives</a></li>
                  <li><a href="#">Web Templates</a></li>
                </ul>
              </div>
              <div  class="col-lg-4 mt-2">
                <h2 class="star"><span>Sponsors</span></h2>
                <div class="clr"></div>
                <ul class="ex_menu">
                  <li>
                    <a href="http://www.institutsaintjean.org">Institut Universaitaire Saint Jean</a> Leader dans la formation des ingénieur de qualité
                  </li>
                  
                </ul>
              </div>
              <div class="gadget">
                <h2 class="star"><span>Wise Words</span></h2>
                <div class="clr"></div>
                <div class="testi">
                  <p>
                    <span class="q"
                      ><img
                        src="assets/images/qoute_1.gif"
                        width="20"
                        height="15"
                        alt=""
                    /></span>
                    We can let circumstances rule us, or we can take charge and
                    rule our lives from within.
                    <span class="q"
                      ><img
                        src="assets/images/qoute_2.gif"
                        width="20"
                        height="15"
                        alt=""
                    /></span>
                  </p>
                  <p class="title"><strong>Earl Nightingale</strong></p>
                </div>
              </div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <div class="fbg">
      </div>
    </div>
    <div class="footer">
      <div class="footer_resize">
        <p class="lf">
          Copyright &copy; <a href="#">Isj Mobility</a>. All Rights Reserved
        </p>
        <p class="rf">
          Design by<a>B&J&K</a>
        </p>
        <div class="clr"></div>
      </div>
    </div>
