<mat-toolbar color="primary">
  <ng-container *ngIf="isLogged">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Navigation Menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let menu of menus" [routerLink]="menu.path">
        <mat-icon>{{menu.icon}}</mat-icon>
        <span>{{menu.title}}</span>
      </button>       
    </mat-menu>
    
  </ng-container>
  <span>ISJ Mobility</span>

  <ng-container *ngIf="isLogged">
    <span style="flex: 1 1 auto"></span>
    <!-- mystuff -->
    <!-- <button matBadge="15" matBadgeColor="warn" mat-icon-button aria-label="Example icon-button with a menu">
      <mat-icon>home</mat-icon>
    </button> -->
    <mat-icon matBadge="15" matBadgeColor="warn" [routerLink]="['/notification']">notifications_active</mat-icon>
    <span class="separator"></span>
    <span>Hi, {{userLogin}}</span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Admin Menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/admin/offer']">
        <mat-icon>announcement</mat-icon>
        <span>Mes Publications</span>
      </button>
      <button mat-menu-item [routerLink]="['/admin/book']">
        <mat-icon>bookmark</mat-icon>
        <span>Mes Reservations</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Deconnexion</span>
      </button>
    </mat-menu>
  </ng-container>
  

  <!-- end of my stuff -->
</mat-toolbar>
<ng-container *ngIf="isLogged">
  <div class="pp">
    <h1 style="margin-top: -350px">
      ISJMOBILITY: Transport et services disponible pour tous
    </h1>
  </div>
</ng-container>
<router-outlet></router-outlet>
