ul{
  text-decoration: none;
}

ul>li{
  display: block;
  margin: 7px 7px;
}

a:link{
  text-decoration: none;
}

a{
  color: black;
}

mat-sidenav{
  padding: 5px 20px 5px 10px;
}

mat-icon{
  margin-right: 5px;
}

.pp{
  background-image: url('../assets/images/hdImHed5.png');
  height: 60%;
  // background-position: top center;
  background-size: cover;
}
.pp h1{
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  // top: 70%;
  position: absolute;
}

.separator{
  width: 10px;
}
