mat-card{
    text-align: left;
}
mat-sidenav{
    padding: 10px 15px;
    text-align: center;
}
mat-sidenav-container{
    min-height: 100%;
}

mat-sidenav{
    width: 250px;
}
mat-sidenav-content{
    margin-top: 17px;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px 20px;
    margin-left: 20px;
}