<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened fixedInViewport="false">
        <p> Option de filtre </p>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Par date</mat-label>
                <mat-select [(value)]="bookSort.orderDate">
                    <mat-option> Tous </mat-option>
                    <mat-option [value]="sortOptions.order.increasing"> Du plus récent au moins récent </mat-option>
                    <mat-option [value]="sortOptions.order.decreasing"> Du moins récent au plus récent </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="outline">
                <mat-label>Par Prix du service</mat-label>
                <mat-select [(value)]="bookSort.prixService">
                    <mat-option> Tous </mat-option>
                    <mat-option [value]="sortOptions.order.increasing"> Du plus cher au moins cher </mat-option>
                    <mat-option [value]="sortOptions.order.decreasing"> Du moins cher au plus cher </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="outline">
                <mat-label>Par Type d'offre</mat-label>
                <mat-select [(value)]="bookSort.typeService" (valueChange)="changeTypeOfferValue()">
                    <mat-option> Tous </mat-option>
                    <mat-option [value]="sortOptions.typeService.purchase"> Achat </mat-option>
                    <mat-option [value]="sortOptions.typeService.pooling"> Covoiturage </mat-option>
                    <mat-option [value]="sortOptions.typeService.transport"> Transport </mat-option>

                </mat-select>
            </mat-form-field>
            <br/>
            <ng-container *ngIf="typeOffer">
                <mat-form-field appearance="outline">
                    <mat-label>Par Type de transport</mat-label>
                    <mat-select [(value)]="bookSort.typeTransport">
                        <mat-option> Tous </mat-option>
                        <mat-option [value]="sortOptions.typeTransport.bus"> Bus </mat-option>
                        <mat-option [value]="sortOptions.typeTransport.moto"> Moto </mat-option>
                        <mat-option [value]="sortOptions.typeTransport.voiture"> Voiture </mat-option>
    
                    </mat-select>
                </mat-form-field>
                <br/>
            </ng-container>
            <ng-container *ngIf="!typeOffer">
                <mat-form-field appearance="outline">
                    <mat-label>Par Catégorie de produit</mat-label>
                    <mat-select [(value)]="bookSort.categorieProduit">
                        <mat-option> Tous </mat-option>
                        <mat-option [value]="sortOptions.categorieProduit.alimentaire"> Alimentaire </mat-option>
                        <mat-option [value]="sortOptions.categorieProduit.cosmetique"> Cosmétique </mat-option>
                        <mat-option [value]="sortOptions.categorieProduit.electromenager"> Electroménager </mat-option>
                        <mat-option [value]="sortOptions.categorieProduit.electronique"> Electronique </mat-option>
                        <mat-option [value]="sortOptions.categorieProduit.vetements"> Vêtements </mat-option>

                    </mat-select>
                </mat-form-field>
                <br/>
            </ng-container>
        </form>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="flex-container">
            <div class="flex-item" *ngFor="let service of servicesList">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{titleEnum(service.typeService)}}</mat-card-title>
                        <img mat-card-avatar/>
                    </mat-card-header>
                    <mat-card-content *ngIf="service.typeService == typeServiceEnum.pooling">
                        <p>Type de transport: {{stringifyTypePooling(service.type)}}</p>
                        <p>Commission: {{service.prixService}}</p>
                        <p>Places: {{service.placesDispo}}</p>
                        <p>Lieu de départ: {{service.lieuDepart}}</p>
                        <p>Date de depart: {{stringifyDate(service.dateDepart) }}</p>
                        <p>Horaire de départ: {{service.horaireDepart}}</p>
                        <p>Lieu d'Arrivée: {{service.lieuArrivee}}</p>
                
                    </mat-card-content>
                    <mat-card-content *ngIf="service.typeService == typeServiceEnum.purchase">
                        <p>Commission: {{service.prixService}}</p>
                        <p>Produit: {{service.produit}}</p>
                        <p>Catégorie produit: {{service.categorieProduit}}</p>
                        <p>Quantité: {{service.quantite}}</p>
                        <p>Prix Unitaire: {{service.prixUnitaire}}</p>
                        <p>Lieu d'Achat: {{service.lieuAchat}}</p>
                        <p>Date de livraison: {{stringifyDate(service.dateLivraison)}}</p>
                        <p>Horaire dArrivée: {{service.horaireLivraison}}</p>
                    </mat-card-content>
                    <mat-card-content *ngIf="service.typeService == typeServiceEnum.transport">
                        <p>Commission: {{service.prixService}}</p> 
                        <p>Produit: {{service.produit}}</p>
                        <p>Catégorie produit: {{service.categorieProduit}}</p>
                        <p>Quantité: {{service.quantite}}</p>
                        <p>Point de Collecte: {{service.pointRamassage}}</p>
                        <p>Date de livraison: {{stringifyDate(service.dateLivraison)}}</p>
                        <p>Horaire de livraison: {{service.horaireLivraison}}</p>
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                        <button mat-stroked-button color="primary" (click)="navigateToBook(service)"> Voir Réservations </button>
                        <button mat-stroked-button color="warn" (click)="deleteOffer(service)"> Supprimer </button>
                    </mat-card-actions>
                </mat-card>        
        
            </div>
            <div *ngIf="servicesList.length == 0">
                <p>
                    Vous n'avez encore publié aucune offre ni demande
                </p>
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>