mat-sidenav-container{
  height: 91%;
}

mat-sidenav-content{
  padding: 10px 10px;
}

mat-sidenav{
  width: 350px;
  padding: 10px 10px;
}

.container{
  text-align: center;
}

.result{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px 20px;
  margin-left: 20px;
}

.error{
  text-align: center;
  
}

.paginator{
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.footer{
  width: 100%;
}