<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened fixedInViewport="false">
    <div class="lefterSearch">
      <label id="example-radio-group-label">Quel service Voulez-vous rechercher?</label>
      <br/>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="services"
      >
        <br/>
        <mat-radio-button
          class="example-radio-button"
          [value]="achat"
          (change)="disableOthers('achat')"
        >
        Demande d'Achat
        </mat-radio-button>
        <br/>
        <mat-radio-button
          class="example-radio-button"
          [value]="covoiturage"
          (change)="disableOthers('covoiturage')"
        >        
          Offre de Covoiturage
        </mat-radio-button>
        <br/>
        <mat-radio-button
          class="example-radio-button"
          [value]="transport"
          (change)="disableOthers('transport')"
        >
          Demande de Transport
        </mat-radio-button>
      </mat-radio-group>
      <br /><br />
      <div>
        <div class="container" *ngIf="achat">
          <form role="form" [formGroup]="purchaseForm" (ngSubmit)="findPurchaseOffers()">
            <h2>
              Cherchez les service d'achat que vous souhaitez Réaliser
            </h2>
            <mat-form-field appearance="legacy">
              <mat-panel-title> Categorie du produit à acheter </mat-panel-title>
              <mat-select formControlName="choixCategoriesAchat" >
                <mat-option
                  *ngFor="let categorie of categories"
                  [value]="categorie.valeur"
                  >{{ categorie.valeur }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <br/>
            <br />  
            <mat-form-field appearance="legacy">
              <mat-label> Commission </mat-label>
              <input matInput type="number" formControlName="commisionTransport" min="0" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-panel-title> Date de Livraison au plus tard </mat-panel-title>
              <input matInput type="date" formControlName="DateLivraison" />
            </mat-form-field>
            <br/>
            <mat-form-field appearance="legacy">
              <mat-panel-title> Horaire de Livraison au plus tard </mat-panel-title>
              <input matInput type="time" formControlName="horaireLivraison" />
            </mat-form-field>
            <div style="text-align: center">
              <button
                type="submit"
                class="btn btn-primary"
                style="
                  margin-bottom: 12px;
                  border-radius: 45px;
                  padding: 0px 45px 0px 45px;
                "
              >
                Filtrer
              </button>
            </div>
          </form>      
        </div>
        <div class="container" *ngIf="covoiturage">        
          <form role="form" [formGroup]="poolingForm" (ngSubmit)="findPoolingOffers()">
            <h2>
              Cherchez le service de covoiturage vous correspondant
            </h2>       
            <mat-form-field appearance="legacy">
              <mat-label> Type de Transport </mat-label>
              <mat-select formControlName="typeCovoiturage">
                <mat-option *ngFor="let c of typeco" [value]="c">
                  {{ c }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="legacy">
              <mat-label> places disponibles </mat-label>
              <input matInput type="number" min="1" formControlName="placesDispo" />
            </mat-form-field>
            <br />       
            <mat-form-field appearance="legacy">
              <mat-label> Prix d'une place </mat-label>
              <input matInput type="number" formControlName="prixPlace" />
            </mat-form-field>
            <br />       
            <mat-form-field appearance="legacy">
              <mat-label> Lieu de départ </mat-label>
              <mat-select formControlName="lieuDepart">
                <mat-option *ngFor="let l of lieu" [value]="l">
                  {{ l }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <br />   
            <mat-form-field appearance="legacy">
              <mat-label> Date de départ </mat-label>
              <input matInput type="date" formControlName="dateDepart" />
            </mat-form-field>
            <br />
            <mat-form-field appearance="legacy">
              <mat-label> horaire de départ </mat-label>
              <input matInput type="time" formControlName="horaireDepart" />
            </mat-form-field>
            <br />
            <mat-form-field appearance="legacy">
              <mat-label> lieu d'arrivée </mat-label>
              <input matInput type="text" formControlName="lieuArrivee" />
            </mat-form-field>               
            <div style="text-align: center">
              <button
                type="submit"
                class="btn btn-primary"
                style="
                  margin-bottom: 12px;
                  border-radius: 45px;
                  padding: 0px 45px 0px 45px;
                "
              >
                Filtrer
              </button>
            </div>
          </form> 
        </div>

        <div class="container" *ngIf="transport">
          <h2>
            Cherchez les service de transport que vous souhaitez réaliser
          </h2>
          <form role="form" [formGroup]="transportForm" (ngSubmit)="findTransportOffers()">
            <mat-form-field appearance="legacy">
              <mat-panel-title> categorie du produit </mat-panel-title>
              <mat-select formControlName="choixCategoriesTransport">
                <mat-option
                  *ngFor="let categorie of categories"
                  [value]="categorie.valeur"
                  >{{ categorie.valeur }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <br />  
            <mat-form-field appearance="legacy">
              <mat-label> Commission </mat-label>
              <input matInput type="number" formControlName="commisionTransport" min="0" />
            </mat-form-field>
            <br /> 
            <mat-form-field appearance="legacy">
              <mat-panel-title>Date de Livraison au plus tard</mat-panel-title>
              <input matInput type="date" formControlName="DateLivraisonTransport" />
            </mat-form-field>
            <br />
            <mat-form-field appearance="legacy">
              <mat-panel-title> Heure de Livraison au plus tard</mat-panel-title>
              <input matInput type="time" formControlName="horaireLivraisonTransport" />
            </mat-form-field>

            <div style="text-align: center">
              <button
                type="submit"
                class="btn btn-primary"
                style="
                  margin-bottom: 12px;
                  border-radius: 45px;
                  padding: 0px 45px 0px 45px;
                "
              >
                Filtrer
              </button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1 id="example-radio-group-label">Resultat filtrage:</h1>
    <div class="result">     
      <ng-container *ngIf="poolingOffersList.length != 0">
        <div class="flex-item" *ngFor="let pooling of poolingOffersList">
          <mat-card>
            <mat-card-header>
                <mat-card-title>{{titleEnum(pooling.typeService)}}</mat-card-title>
                <img mat-card-avatar/>
            </mat-card-header>
            <mat-card-content>
                <p>Type de transport: {{stringifyTypePooling(pooling.type)}}</p>
                <p>Commission: {{pooling.prixService}}</p>
                <p>Places: {{pooling.placesDispo}}</p>
                <p>Lieu de départ: {{pooling.lieuDepart}}</p>
                <p>Date de depart: {{stringifyDate(pooling.dateDepart) }}</p>
                <p>Horaire de départ: {{pooling.horaireDepart}}</p>
                <p>Lieu d'Arrivée: {{pooling.lieuArrivee}}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="book(pooling.code)"> Réserver </button>
              <button mat-stroked-button color="primary"> Suivre cet utilisateur </button>
            </mat-card-actions>
          </mat-card>   
        </div>     
      </ng-container>
      <ng-container *ngIf="purchaseOffersList.length != 0">
        <div class="flex-item" *ngFor="let purchase of purchaseOffersList">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{titleEnum(purchase.typeService)}}</mat-card-title>
              <img mat-card-avatar/>
            </mat-card-header>
            <mat-card-content>
              <p>Commission: {{purchase.prixService}}</p>
              <p>Produit: {{purchase.produit}}</p>
              <p>Catégorie produit: {{purchase.categorieProduit}}</p>
              <p>Quantité: {{purchase.quantite}}</p>
              <p>Prix Unitaire: {{purchase.prixUnitaire}}</p>
              <p>Lieu d'Achat: {{purchase.lieuAchat}}</p>
              <p>Date de livraison: {{stringifyDate(purchase.dateLivraison)}}</p>
              <p>Horaire dArrivée: {{purchase.horaireLivraison}}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="book(purchase.code)"> Réserver </button>
              <button mat-stroked-button color="primary"> Suivre cet utilisateur </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
      <ng-container *ngIf="transportOffersList.length != 0">
        <div class="flex-item" *ngFor="let transport of transportOffersList">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{titleEnum(transport.typeService)}}</mat-card-title>
              <img mat-card-avatar/>
            </mat-card-header>
            <mat-card-content>
              <p>Commission: {{transport.prixService}}</p> 
              <p>Produit: {{transport.produit}}</p>
              <p>Catégorie produit: {{transport.categorieProduit}}</p>
              <p>Quantité: {{transport.quantite}}</p>
              <p>Point de Collecte: {{transport.pointRamassage}}</p>
              <p>Date de livraison: {{stringifyDate(transport.dateLivraison)}}</p>
              <p>Horaire de livraison: {{transport.horaireLivraison}}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="book(transport.code)"> Réserver </button>
              <button mat-stroked-button color="primary"> Suivre cet utilisateur </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
      <ng-container *ngIf="serviceOffersList.length != 0">
        <div class="flex-item" *ngFor="let service of serviceOffersList">
          <mat-card>
            <mat-card-header>
                <mat-card-title>{{titleEnum(service.typeService)}}</mat-card-title>
                <img mat-card-avatar/>
            </mat-card-header>
            <mat-card-content *ngIf="service.typeService == typeServiceEnum.pooling">
                <p>Type de transport: {{stringifyTypePooling(service.type)}}</p>
                <p>Commission: {{service.prixService}}</p>
                <p>Places: {{service.placesDispo}}</p>
                <p>Lieu de départ: {{service.lieuDepart}}</p>
                <p>Date de depart: {{stringifyDate(service.dateDepart) }}</p>
                <p>Horaire de départ: {{service.horaireDepart}}</p>
                <p>Lieu d'Arrivée: {{service.lieuArrivee}}</p>
        
            </mat-card-content>
            <mat-card-content *ngIf="service.typeService == typeServiceEnum.purchase">
                <p>Commission: {{service.prixService}}</p>
                <p>Produit: {{service.produit}}</p>
                <p>Catégorie produit: {{service.categorieProduit}}</p>
                <p>Quantité: {{service.quantite}}</p>
                <p>Prix Unitaire: {{service.prixUnitaire}}</p>
                <p>Lieu d'Achat: {{service.lieuAchat}}</p>
                <p>Date de livraison: {{stringifyDate(service.dateLivraison)}}</p>
                <p>Horaire dArrivée: {{service.horaireLivraison}}</p>
            </mat-card-content>
            <mat-card-content *ngIf="service.typeService == typeServiceEnum.transport">
                <p>Commission: {{service.prixService}}</p> 
                <p>Produit: {{service.produit}}</p>
                <p>Catégorie produit: {{service.categorieProduit}}</p>
                <p>Quantité: {{service.quantite}}</p>
                <p>Point de Collecte: {{service.pointRamassage}}</p>
                <p>Date de livraison: {{stringifyDate(service.dateLivraison)}}</p>
                <p>Horaire de livraison: {{service.horaireLivraison}}</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="book(service.code)"> Réserver </button>
              <button mat-stroked-button color="primary"> Suivre cet utilisateur </button>
            </mat-card-actions>
          </mat-card>        
        </div>
      </ng-container>
      <div *ngIf="poolingOffersList.length==0 &&  
                  purchaseOffersList.length==0 &&
                  transportOffersList.length==0 &&
                  serviceOffersList.length==0
                "
            class="error"
      >
        Aucun Résultat
      </div>
    </div> 
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="paginator">
  <mat-paginator [length]="numberOfElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="changePage($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="lf">
      Copyright &copy; <a href="#">ISJ Mobility</a>. All Rights Reserved
    </p>
    <p class="rf">
      Design by
      <a>B&J&K</a>
    </p>
    <div class="clr"></div>
  </div>
</div>
