<div>
    <div style="text-align: center;">
        <h2>Liste de Notifications</h2>
        <mat-selection-list #shoes [multiple]="false"  class="containerList">
          <mat-list-option *ngFor="let p of objetsnotifs" [value]="p">
            {{p}}
          </mat-list-option>
        </mat-selection-list>
    </div>
</div>
<br><br>

<div class="footer">
    <div class="footer_resize">
      <p class="lf">
        Copyright &copy; <a href="#">FTSinc</a>. All Rights Reserved
      </p>
      <p class="rf">
        Design by
        <a>B&J</a>
      </p>
      <div class="clr"></div>
    </div>
  </div>
